.demogorgon-container {
    position: absolute;
    top: 4800px;
    z-index: 4;
    width: 100%;
    height: 900px;
    background: linear-gradient(transparent, #324552, transparent);
    display: flex;
    flex-direction: row;
}

.demogorgon-text {
    margin-top: 300px;
    margin-left: 50px;
    width: 40%;
    height: 50%;
    color: #6c9ab8;
}

.demogorgon-header {
    font-size: 4em;
    animation: animationHeader infinite 2s;
}

.demogorgon {
    cursor: pointer;
    width: 60%;
}

@keyframes animationHeader {
    0%{
        text-shadow:
            0 0 2px #6c9ab8,
            0 0 4px #6c9ab8,
            0 0 6px #6c9ab8,
            0 0 40px #6c9ab8,
            0 0 80px #6c9ab8,
            0 0 90px #6c9ab8,
            0 0 100px #6c9ab8,
            0 0 150px #6c9ab8;
    }
    100%{
        text-shadow:
            0 0 2px #6c9ab8,
            0 0 4px #6c9ab8,
            0 0 6px #6c9ab8,
            0 0 10px #6c9ab8,
            0 0 45px #6c9ab8,
            0 0 55px #6c9ab8,
            0 0 80px #6c9ab8;
    }
}