body {
    scroll-behavior: smooth;
}

.nav {
    display: flex;
    flex-direction: column;
    z-index: 8;
    position: absolute;
    right: 100px;
    top: 40px;
    color: #fff;
}

.nav-link {
    transition: 0.5s;
    padding: 10px;
    font-size: 2em;
    text-decoration: none;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:
    0 0 2px #443aff,
    0 0 4px #443aff,
    0 0 6px #443aff,
    0 0 40px #443aff,
    0 0 80px #443aff,
    0 0 90px #443aff,
    0 0 150px #443aff;
}

.nav-link:hover {
    transition: 0.5s;
    text-shadow:
    0 0 2px #bcb9ff,
    0 0 4px #bcb9ff,
    0 0 6px #bcb9ff,
    0 0 40px #bcb9ff,
    0 0 80px #bcb9ff,
    0 0 90px #bcb9ff,
    0 0 150px #bcb9ff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}