body {
    scroll-behavior: smooth;
}

.nav {
    display: flex;
    flex-direction: column;
    z-index: 8;
    position: absolute;
    right: 50px;
    top: 40px;
    color: #fff;
}

.nav-link {
    transition: 0.5s;
    padding: 10px;
    font-size: 2em;
    text-decoration: none;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:
    0 0 2px #ba2a2a,
    0 0 4px #ba2a2a,
    0 0 6px #ba2a2a,
    0 0 40px #ba2a2a,
    0 0 80px #ba2a2a,
    0 0 90px #ba2a2a,
    0 0 150px #ba2a2a;
}

.nav-link:hover {
    transition: 0.5s;
    text-shadow:
    0 0 2px #ff8181,
    0 0 4px #ff8181,
    0 0 6px #ff8181,
    0 0 40px #ff8181,
    0 0 80px #ff8181,
    0 0 90px #ff8181,
    0 0 150px #ff8181;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}