.App {
  background: linear-gradient( #000, #0e0453, #000, #000, #000 100%);
  backdrop-filter: blur(200px);
  height: 6500px;
  scroll-behavior: smooth;
}

html, body {
  scroll-behavior: smooth;
}

